
@media  screen and (min-width: 1000px) {
    .descricao{
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img{
        width: 50%;
        height: 50%;
    }

    .botao{
        margin-top: 5px;
        width: 150px;
    }

    .titulo{
        font-size: small;
    }

    .descricao{
        width: 100%;
        font-size: small;
    }
    header nav a{
        font-size: small;
    }
}



@media screen and (max-width: 400px) {
    header .container{
        display: flex;
        flex-direction: column;
    }  

    .img{ 
        width: 25%;
        height: 25%;
    }

    .titulo{
        font-size: x-small;
    }

    .descricao{
         width: 100%;
        font-size: x-small;
    }

    .botao{
        width: 150px;
    } 
       
    header nav a{
        font-size: x-small;
    }
}

